* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0px 100px;
  padding-top: 150px;
  gap: 65px;
}

#left {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

#left h1 {
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
}

#bottom-left {
  width: 100%;
}

#bottom-left h2 {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 7px;
}

#bottom-left p {
  width: 65%;
  font-size: 15px;
  font-weight: 500;
  color: #292828;
  line-height: 20px;
}

#colors {
  width: fit-content;
  padding: 8px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
}

#colors h5 {
  font-size: 13px;
  font-weight: 400;
  margin-right: 8px;
}

#color1 {
  height: 12px;
  width: 12px;
  background-color: burlywood;
  border-radius: 50%;
  margin-right: 3px;
}

#color2 {
  height: 12px;
  width: 12px;
  background-color: red;
  border-radius: 50%;
}

#right {
  height: 90%;
  width: 38%;
  position: relative;
}

#right img {
  width: 100%;
  height: 89.82%;
  object-fit: cover;
  object-position: top;
}

#right-top {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

#right-top h4 {
  font-size: 20px;
  font-weight: 500;
}

#right-top h5 {
  font-size: 15px;
  font-weight: 500;
}

#black-circle {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: rgb(43, 42, 42);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 91%;
}

#black-circle h5 {
  font-size: 15px;
  font-weight: 400;
}

#rotated {
  position: absolute;
  left: -10%;
  bottom: 0;
  rotate: -90deg;
  transform-origin: 0 0;
  font-size: 25px;
  font-weight: 600;
}
